/* starting of navigation bar */
.wrap{
    background-color:#F0FFF0;

}
.container{
    margin-bottom:100px;
    
}
.logo-size{
    width:198px;
    height:59px;
    padding:2%;
}
.manu-padding li{
    padding:4px 20px;
}
.sign-in-button{
    background-color:#21B573;
    border-radius:25px;
    
}

.bold-item ul li a{
    font-weight: bold;
}
/* Ending of navigation bar */




/* starting of banner part */
.banner-discription{
    padding:2%;
}
.get-started-button{
    padding:9px 25px;
    background-color:#21B573;
    color:#ffffff;
    border:none;
    border-radius:10px;

}
.banner-img{
    padding:2%;
}
/* Ending of banner part */



/* Starting of advantages section */
.advantages-img{
   width:66px;
   height:75px;
   margin-top:10%
}
.card-allover{
    text-align:center;
    border:none;
    background-color: #F0FFF0;
}
h2{
    text-align:center;
    font-weight:bold;
    margin-bottom: 50px;
}
/* Ending of advanteges section */



/* Starting of courses section */
.course-div{
    border:none;
    box-shadow:10px 7px 34px -10px black;
    border-radius: 10px;
}
h3{
    color:#413960;
}
.buy-course-button{
    padding:5px 25px;
    border-radius: 20px;
    background-color: #21B573;
    border:none;
    color:white;
    
}
.courses-date{
    margin-top:5%;
    
}
.courses-date img{
    width:24px;
    height:24px;
    font-weight: bold;
}
/* Ending of courses section */



.comment img{
    width:125px;
    height:125px;

}


/* Starting of footer  */

.last-section{
    
    height:369px;
    color:#ffffff;
}
.course1 li{
    list-style:none;
}
/* Ending of footer */

